.main-container {
  background: #d1d9e6; 
  padding: 8px 14px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  text-decoration: none;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.nav-logo p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Sans Unicode";
  color: purple;
  padding-left: 10px;
}

.logo {
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.logo:hover {
  /* infinite spin animation (avoid) */
  /* animation: spin 0.8s linear infinite; */
  transform: rotate(180deg);
}

/* spin animation might add in future */
/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.navbar {
  display: flex;
  gap: 12px;
}

.nav-link {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Sans Unicode";
  position: relative; /*  */
  text-decoration: none;
  color: #0f172a;
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 6px;

  transition:
    transform 0.35s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 0.35s ease,
    background 0.35s ease; /*  */
}

.nav-link:hover {
  transform: translateY(-6px); /*  */
  background: #23e6a2;
  box-shadow: 0 8px 20px rgba(17, 243, 164, 0.82); /*  */
}

.nav-link:not(:hover) {
  transform: translateY(0);
}

/* .nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
